html {
    text-align: center;
    background-image: -webkit-linear-gradient(135deg, #999999, white);
    background-image: linear-gradient(-45deg, #999999, white);
}

body {
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 50px;
    font-family: Helvetica;
}

img {
    width: 100%;
}

div {
    margin-bottom: 50px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid #353833;
}

table {
    margin: auto;
    border: 2px solid #353833;
    padding: 20px;
}

table img {
    height: 400px;
    width: auto;
}

table td {
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 5px;
    color: #353833;
}